body {
  background-image: url('images/grid.png');
}


.banner {
  background-image: url('images/background.jpg');
  padding-top: 150px;
  padding-bottom: 270px;
  background-size: cover;
  text-align: center;
  color: white;
}

.banner h1 {
  display: inline-block;
  font-size: 52px;
  background-color: rgba(0, 0, 0, .4);
  text-shadow: 0 0 15px rgba(0, 0, 0, .8);
  padding: 10px;
  border-radius: 10px;
  color: #FFFFFF;
}

.banner h2 {
  display: inline-block;
  font-size: 20px;
  background-color: rgba(0, 0, 0, .4);
  padding: 5px;
  border-radius: 10px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.banner p {
  margin-top: 15px;
}

.banner .content {
  display: inline-block;
  font-size: 15px;
  background-color: rgba(0, 0, 0, .7);
  margin-right: 250px;
  margin-left: 250px;
  padding-top: 40px;
  padding-bottom: 100px;
  padding-left: 100px;
  padding-right: 100px;
  border-radius: 25px;

}

.content h3 {
  margin-bottom: 50px;
}

.content p, li{
    text-align: justify;
}

.content p a{
  margin-top: 50px;
    margin-left: 490px;
}


.contact {
  padding-top: 60px;
  padding-bottom: 160px;
  text-align: center;
  background-color: rgba(0, 0, 0, .7) ;
}

.contact h1 {
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: 30px;
  color: white;
}

.black-transparent {
  background-color: rgba(0, 0, 0, .8);
}

.navbar-default .navbar-brand {
  color:white;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: white;
}

.illustration {
  padding-top: 60px;
  padding-bottom: 40px;
  display:block;
}

.col-xs-3 p {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 60px;
}

.email {
 margin-right: 5px;
}

.btn-brown {
  background-color: orange;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;
  color: #F5F5DC;
  border-radius: 8px;
  border-color: white;
  border-width: 2px;
  border-style: solid;
}

.btn-brown:hover {
  color: black;
  text-decoration: none;
 }


.footer {
  background-color: black;
  color: white;
  padding-top:30px;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: white;
}

.footer li {
  font-size: 25px;
}

.btn-contact {
  margin-top: 50px;
}